<!DOCTYPE html>
<html lang="en" ng-app="airStatusApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="weather.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="airquality.js"></script>

</head>

<body>
    <div ng-app="airStatusApp" ng-controller="AirStatusController">
        <div class="navbar">
            <ul>
                <li><a class="logo" href="index.html"><p>Mausam</p></a></li>
            </ul>
            <div class="searchbar">
                <input class="searchtext" type="search" ng-model="cityName" placeholder="Search for a city"
                    aria-label="Search">
                <!-- FIXED: Pass cityName parameter to searchCity function -->
                <button id="submit" type="button" ng-click="searchCity(cityName)"><a href="#" class="searchbtn" id="searchbtn">
                        <img src="photos\magnifier.png" alt="">
                    </a></button>
            </div>
            <ul>
                <li><a id="air-page" href="air-status page.html">Air Quality</a> </li>
            </ul>
        </div>

        <main>
            <div class="air">
                <div ng-if="errorMessage" style="color: red; padding: 20px; text-align: center; font-size: 18px;">
                    {{ errorMessage }}
                </div>
                <table id="table">
                    <tr>
                        <td>
                            <div ng-if="cities" class="current-pollutants">
                                <div id="upside">
                                    <p id="city-name">City: {{ cities }}</p>
                                    <p id="date-info">Date: {{ airData.date }} ({{ dayOfWeek }})</p>
                                    <p id="AQI">Current AQI: {{ airData.currentAQI }}</p>
                                    <span ng-style="{ color: airData.statuses.PM2_5.color}" style="display: block; text-align: center; position: relative; top: 55px; font-size: 30px;">
                                        ({{ airData.statuses.PM2_5.status }})
                                    </span>
                                </div>
                            
                                <br>
                                <h2 style="color: coral;">Other Pollutants:</h2>
                                <h3 id="pollutant-color">PM2.5: {{ airData.PM2_5 }} µg/m³
                                    <span ng-style="{ color: airData.statuses.PM2_5.color }">({{ airData.statuses.PM2_5.status }})</span>
                                </h3>
                                    <p>
                                        Fine Particulate Matter are inhalable pollutant particles with a diameter less than 2.5 micrometers that can enter the lungs and bloodstream, resulting in serious health issues. The most severe impacts are on the lungs and heart. Exposure can result in coughing or difficulty breathing, aggravated asthma, and the development of chronic respiratory disease.
                                    </p>
                                    <br>
                                <h3 id="pollutant-color">PM10: {{ airData.PM10 }} µg/m³
                                    <span ng-style="{ color: airData.statuses.PM10.color }">({{ airData.statuses.PM10.status }})</span>
                                </h3>
                                    <p>
                                        Particulate Matter are inhalable pollutant particles with a diameter less than 10 micrometers. Particles that are larger than 2.5 micrometers can be deposited in airways, resulting in health issues. Exposure can result in eye and throat irritation, coughing or difficulty breathing, and aggravated asthma. More frequent and excessive exposure can result in more serious health effects.
                                    </p>
                                <h3 id="pollutant-color">NO₂: {{ airData.NO2 }} µg/m³
                                    <span ng-style="{ color: airData.statuses.NO2.color }">({{ airData.statuses.NO2.status }})</span>
                                </h3>
                                <p>
                                    Nitrogen Dioxide is a harmful gas that can irritate airways, reduce lung function, and
                                    aggravate respiratory diseases like asthma.
                                </p>
                                <br>
                                <h3 id="pollutant-color">O₃: {{ airData.O3 }} µg/m³
                                    <span ng-style="{ color: airData.statuses.O3.color }">({{ airData.statuses.O3.status }})</span>
                                </h3>
                                <p>
                                    Ozone is a reactive gas that can worsen asthma and other lung conditions, especially
                                    during high exposure.
                                </p>
                                <br>
                                <h3 id="pollutant-color">SO₂: {{ airData.SO2 }} µg/m³
                                    <span ng-style="{ color: airData.statuses.SO2.color }">({{ airData.statuses.SO2.status }})</span>
                                </h3>
                                <p>
                                    Sulfur Dioxide is a toxic gas that can cause respiratory problems, especially for people
                                    with asthma or chronic lung conditions.
                                </p>
                                <br>
                                    <br>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </main>
    </div>
    <br>
    <p class="scale">Air Quality Scale:</p>
    <table class="pollutant-table">
        <tr>
            <th>Pollutant (μg/m³)</th>
            <th>Good</th>
            <th>Fair</th>
            <th>Moderate</th>
            <th>Poor</th>
            <th>Very Poor</th>
            <th>Extremely Poor</th>
        </tr>
        <tr>
            <td>PM2.5</td>
            <td>0-10</td>
            <td>10-20</td>
            <td>20-25</td>
            <td>25-50</td>
            <td>50-75</td>
            <td>75-800</td>
        </tr>
        <tr>
            <td>PM10</td>
            <td>0-20</td>
            <td>20-40</td>
            <td>40-50</td>
            <td>50-100</td>
            <td>100-150</td>
            <td>150-1200</td>
        </tr>
        <tr>
            <td>NO2</td>
            <td>0-40</td>
            <td>40-90</td>
            <td>90-120</td>
            <td>120-230</td>
            <td>230-340</td>
            <td>340-1000</td>
        </tr>
        <tr>
            <td>O3</td>
            <td>0-50</td>
            <td>50-100</td>
            <td>100-130</td>
            <td>130-240</td>
            <td>240-380</td>
            <td>380-800</td>
        </tr>
        <tr>
            <td>SO2</td>
            <td>0-100</td>
            <td>100-200</td>
            <td>200-350</td>
            <td>350-500</td>
            <td>500-750</td>
            <td>750-1250</td>
        </tr>
    </table>

    <footer class="flex-all-centre">
        <p>All rights reserved &copy; copyright: Mausam.pk</p>
        <div class="icons">
            <a href="#"><img src="photos\facebook.svg" alt=""></a>
            <a href="#"><img src="photos\instagram-alt.svg" alt=""></a>
            <a href="#"><img src="photos\linkedin.svg" alt=""></a>
            <a href="#"><img src="photos\twitter.svg" alt=""></a>
        </div>
    </footer>

</body>

</html>